@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
}

<div style="text-align:@textAlign">
    <header lang="@cultureCode" @* dir="@direction" *@>
        <div class="container" style="text-align:@textAlign">
            <div class="owl-carousel owl-theme owl-header">
                <div class="item ">
                    <div class="contain">
                        <h1>
                            @Localizer["OurVision"]
                        </h1>
                        <p>
                            @Localizer["OurVisionDesc"]
                        </p>
                        <div  class="flex-data">
                            <a style="width: 200px !important;" class="custom-btn" asp-area="" asp-controller="Home" asp-action="About">
                                <span>
                            @Localizer["Readmore"]
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="choose general-section" style="direction:@direction">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12 mb-4 order-mobile-0">
                    <div class="content">
                        <h1>
                            @Localizer["WhyMaidLinker"]
                            <span>
                                @Localizer["WhyMaidLinkerPlatform"]
                            </span>
                        </h1>

                        <p class="desc">
                            @Localizer["WhyMaidLinkerPlatformDesc"]
                        </p>

                        <ul class="list">
                            <li>
                                @Localizer["EasyAccessBenefit"]
                                <div>
                                    <p>
                                    </p>
                                </div>
                            </li>

                            <li>
                                @Localizer["MultipleOptionsBenefit"]
                                <div>
                                    <p>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <a class="custom-btn" asp-area="" asp-controller="Home" asp-action="Maids"><span>👉 @Localizer["ChooseMaid"]</span> </a>
                    </div>
                </div>
                <div class="col-lg-5 col-12 mb-3 order-mobile-1">
                    <div class="image-content">
                        <img src="~/images/about_MaidLinker.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>

    <section class="join-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 order-mobile-1">
                    <div class="image-content">
                        <img src="~/images/about.png" style="transform:scalex(-1)" alt="">
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-mobile-0">
                    <div class="contain">
                        <div class="graph-heading">
                            <div class="text-data">
                                <h1>
                                    @Localizer["HowJoinMaidLinker"]
                                </h1>

                                <p class="grahp-text">
                                    @* MaidLinker *@
                                </p>
                            </div>
                        </div>

                        <!-- <h2>
                          Get Started
                        </h2> -->

                        <p class="desc">
                            @Localizer["HowJoinMaidLinkerDesc"]
                        </p>

                     
                    </div>
                </div>
            </div>
        </div>

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
</div>

<style>
    .disabled-button {
        background: gray; /* Gray background color */
        color: #666; /* Dark gray text color */
        cursor: not-allowed; /* Show disabled cursor */
    }

    .missing-ddl {
        border: 2px solid red !important/* default border */
    }
</style>