@model List<MaidLinker.Data.Entites.Maid>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = cultureCode.StartsWith("en", StringComparison.OrdinalIgnoreCase) ? true : false;
    string closeButtonValue = isEng ? "0" : "1%";
}


<section class="sub-header" style="text-align:@textAlign">
    <div class="container" style="direction:@direction">
        <div class="content">
            <h1>
                @Localizer["Maids"]
            </h1>

            <ul class="bread-list" style="text-align:@textAlign">
                <li>
                    <span>
                        @Localizer["Home"]
                    </span>
                </li>

                <li>
                    <a>
                        @Localizer["Maids"]
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="contact-us general-section" style="direction:@direction">
    <div class="container">
        <div>
            <div>
                <div class="heading-contact">
                    <p style="font-size:40px;text-align:@textAlign">
                        @Localizer["Maids"]
                    </p>

                </div>
                <div id="error">
                </div>
                <form class="form-contain" method="POST" id="validation">

                    <input type="hidden" name="_token" value="P9gMRWSZXiKVb1HY0oTRjpAhSnhUQU6JAmVkQpN8">
                    <div class="row">
                        <div class="form-group search-container col-md-8 p-0">
                            <input type="text" class="form-control margin-15-position-obselete" id="filterInput" onkeypress="searchUsingEnterButton(event)" name="search" style=" background-color: #f2f2f2;"
                                   placeholder="@Localizer["Search"]" value="">
                            <i class="fas fa-search" style=" margin-right: 0.5%; color: #5F7AE7;cursor:pointer" onclick="doSearch()"></i>
                        </div>

                        <div class="col-md-4" style="padding-bottom:16px">
                            <select class="form-control" id="sort-ddl" onchange="doSearch()">
                                <option value="0">@Localizer["SortBy"]</option>
                                <option value="1">@Localizer["Nationality"]</option>
                                <option value="2">@Localizer["Language"]</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-2 col-12 p-0">
                            <select class="form-control" id="nationalities-ddl" onchange="doSearch()">
                                <option value="">@Localizer["Nationality"] </option>
                            </select>
                        </div>

                        <div class="col-md-2 col-12 ">
                            <select class="form-control" id="languages-ddl" onchange="doSearch()">
                                <option value="">@Localizer["Language"] </option>
                            </select>
                        </div>
                        <div class="col-md-2 col-12">
                            <select class="form-control" id="age-ddl" onchange="getDistrictsThenFilter()">
                                <option value="">@Localizer["Age"] </option>
                            </select>
                        </div>
                        <div class="col-md-2 col-12 ">
                            <select class="form-control" id="experience-ddl" onchange="doSearch()">
                                <option value="">@Localizer["Experience"] </option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 ">
                            <select class="form-control" id="maritalStatus-ddl" onchange="doSearch()">
                                <option value="0">@Localizer["MaritalStatus"]</option>
                            </select>
                        </div>

                    </div>
                    <div id="listContainer">
                        @Html.Partial("MaidList", Model)
                    </div>
                </form>
            </div>

            @*     <div class="col-lg-4 col-12 mb-4">
            <div class="data-contain" style="margin-top: 84px;">

            <div style="padding-bottom:10px">
            <select class="form-control" id="maritalStatus-ddl" onchange="doSearch()">
            <option value="0">All maritalStatus Companies</option>
            </select>
            </div>

            </div>
            </div> *@
        </div>
    </div>
</section>

<div class="modal fade" id="UserProfileModal" tabindex="-1" role="dialog" aria-labelledby="UserProfileModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="max-width:768px;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:@textAlign;direction:@direction">
                <h5 class="modal-title" id="UserProfileModal">@Localizer["DoctorDetails"]</h5>
                <button type="button" style="margin-left:@closeButtonValue" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body doctorDetailsContainer" style="text-align:@textAlign;direction:@direction" id="doctorDetailsContainer">
                <!-- modal content In DoctorDetails -->
            </div>

            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-add-service">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!--region DropDownLists  -->
    <script>
        $(document).ready(function () {
            
            // Nationalities
            $.ajax({
                url: '@Url.Action("GetNationalitiesDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#nationalities-ddl').empty();
                    var defaultSelect = "@Localizer["Nationality"]"
                    var isEng = isEnglishCulture();
                    // Populate the dropdown list
                    var dropdown = $('#nationalities-ddl');
                    dropdown.append($('<option></option>').val(0).text(defaultSelect));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(isEng ? item.titleEn : item.titleAr));
                    });
                }
            });

            // Languages
            $.ajax({
                url: '@Url.Action("GetLanguagesDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#languages-ddl').empty();
                    var defaultSelect = "@Localizer["Language"]"
                    var isEng = isEnglishCulture();
                    // Populate the dropdown list
                    var dropdown = $('#languages-ddl');
                    dropdown.append($('<option></option>').val(0).text(defaultSelect));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(isEng ? item.nameEn : item.nameAr));
                    });
                }
            });

          
              // Years Experiences
            $.ajax({
                url: '@Url.Action("GetYearsExperiencesDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#experience-ddl').empty();
                    // Populate the dropdown list
                    var defaultSelect = "@Localizer["Experience"]"
                    var isEng = isEnglishCulture();

                    var dropdown = $('#experience-ddl');
                    dropdown.append($('<option></option>').val(0).text(defaultSelect));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(item.title));
                    });
                }
            });

          // Age
            $.ajax({
                url: '@Url.Action("GetAgeDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#age-ddl').empty();
                    // Populate the dropdown list
                    var defaultSelect = "@Localizer["Age"]"
                    var isEng = isEnglishCulture();

                    var dropdown = $('#age-ddl');
                    dropdown.append($('<option></option>').val(0).text(defaultSelect));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(item.title));
                    });
                }
            });

            // MaritalStatus
            $.ajax({
                url: '@Url.Action("GetMaritalStatusDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#maritalStatus-ddl').empty();
                    // Populate the dropdown list
                    var defaultSelect = "@Localizer["MaritalStatus"]"
                    var isEng = isEnglishCulture();

                    var dropdown = $('#maritalStatus-ddl');
                    dropdown.append($('<option></option>').val(0).text(defaultSelect));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(item.title));
                    });
                }
            });

           

            setTimeout(function () {
                setSelectedOptions();
            }, 1000);

        });

        // Helper search functions
        function searchUsingEnterButton(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                doSearch();
                ;
            }
        }

        function doSearch() {
            var doctorsContainer = $('#listContainer');
            var serviceId = $('#nationalities-ddl').val();
            var disctrictId = $('#experience-ddl').val();

            var cityId = $('#age-ddl').val();
            var sortBy = $('#sort-ddl').val();
            var maritalStatusType = $('#maritalStatus-ddl').val();
            var name = $('#filterInput').val();
            $.ajax({
                url: '/Home/FillDoctorsList?name=' + name + '&serviceId=' + serviceId + '&cityId=' + cityId + '&disctrictId=' + disctrictId + '&sortBy=' + sortBy + '&maritalStatusType=' + maritalStatusType,
                type: 'GET',
                success: function (response) {
                    doctorsContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function fillDetails(userId) {
            var doctorDetailsContainer = $('#doctorDetailsContainer');

            $.ajax({
                url: '/Home/GetDoctorDetails?userId=' + userId,
                type: 'GET',
                success: function (response) {
                    doctorDetailsContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function getQueryParamsFromCurrentURL() {
            const params = {};
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.toString() === "") {
                return null;
            }

            for (const [key, value] of urlParams) {
                params[key] = value;
            }
            return params;
        }

        function setSelectedOptions() {
            const queryParams = getQueryParamsFromCurrentURL();
            if (queryParams == null)
                return;
            const nationalitiesDropdown = document.getElementById('nationalities-ddl');
            const ageDropdown = document.getElementById('age-ddl');


            const nameField = document.getElementById('filterInput');

            //var name = $('#filterInput').val();

            // Set selected option for Service dropdown
            if (queryParams.serviceId) {
                nationalitiesDropdown.value = queryParams.serviceId;
            } else {
                nationalitiesDropdown.value = ''; // Default value if serviceId is not present in the query string
            }

            // Set selected option for City dropdown
            if (queryParams.cityId) {
                ageDropdown.value = queryParams.cityId;
                getDistricts(queryParams.disctrictId);


            } else {
                ageDropdown.value = ''; // Default value if cityId is not present in the query string
            }


            if (queryParams.name) {
                nameField.value = queryParams.name;
            } else {
                nameField.value = ''; // Default value if serviceId is not present in the query string
            }
        }
    </script>
}