@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer




<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var splitted = @User.Identity?.Name!.Split('.', 2);
        var username = splitted[0];

        <div class="button-container">

            <!-- Modal -->


            <a href="#" class="drop-name">
                <span class="notification" data-toggle="modal" onclick="showNotifications()" data-target="#myModal">
                   
                        <img style="background-color:#00333F" src="/images/navbar/bell.svg" width="20" height="20">
                    <span id="notifications-count" class="badge badge-light"><span class="notificationsCount"> 0 </span> @Localizer["Notifications"] </span>
                </span>
            </a>




            <div class="drop-list-shape data">
                <a href="#" class="drop-name">
                    <img src="~/images/navbar/lang.svg" loading="lazy" alt="" />
                    <span id="current-language">
                        @Localizer["CurrentLanguage"]
                    </span>
                </a>



                <ul class="list">
                    <li class="item">
                        <a asp-action="SetCulture" asp-controller="Home" asp-route-culureCode="en-US" asp-route-returnUrl="@($"{Context.Request.Path}{Context.Request.QueryString}")">
                            English
                        </a>
                    </li>

                    <li class="item">
                        <a asp-action="SetCulture" asp-controller="Home" asp-route-culureCode="ar-SA" asp-route-returnUrl="@($"{Context.Request.Path}{Context.Request.QueryString}")">
                            العربية
                        </a>
                    </li>

                </ul>
            </div>
        </div>



    }
    else
    {
        <a class="custom-btn" asp-area="Identity" asp-page="/Account/Login">
            <img src="~/images/navbar/user.svg" alt="">
            <span>
                @Localizer["SignIn"]
            </span>
        </a>
    }
</ul>





<style>
    .button-container {
        display: flex;
    }

        .button-container .drop-name {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

</style>





