@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = direction == "ltr" ? true : false;
    string marginValue = isEng ? "margin-left" : "margin-right";
}

<style>
    .sidebar a {
        overflow: hidden;
        position: relative;
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

        .sidebar a::before,
        .sidebar a::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
        }

        .sidebar a::before {
            background-color: #54b3d6;
            height: 2px;
            bottom: 0;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
        }

        .sidebar a::after {
            content: attr(data-replace);
            height: 100%;
            top: 0;
            transform-origin: 100% 50%;
            transform: translate3d(200%, 0, 0);
            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
            color: #54b3d6;
        }

        .sidebar a:hover::before {
            transform-origin: 0% 50%;
            transform: scaleX(1);
        }

        .sidebar a:hover::after {
            transform: translate3d(0, 0, 0);
            color: #000; /* Change the color to black */
        }

        .sidebar a span {
            display: inline-block;
            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
        }

        .sidebar a:hover span {
            transform: translate3d(0, 0, 0);
        }

    .sidebar {
        position: relative;
        display: inline-block;
    }

    .sidebar-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .sidebar:hover .sidebar-content {
        display: block;
    }
</style>

<div class="col-xl-2 card shadow mb-4 first-div" style="height:5%;padding:1%;margin-top: 80px;@marginValue:3%">

  
    <div class="nav-contain sidebar">
        <ul class="navbar-nav">
            <li id="myProfile-li" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ServiceProvider" asp-action="Profile">
                    <i id="myProfile-icon" class="fas fa-user-alt"></i> <span id="myProfile-text">@Localizer["MyProfile"]</span>
                </a>
            </li>

            <li id="myServices-li" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ServiceProvider" asp-action="AddServices">
                    <i id="myServices-icon" class="fas fa-medkit"></i> <span id="myServices-text">@Localizer["Services"]</span>
                </a>
            </li>
            
            <li id="referrals-li" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ServiceProvider" asp-action="Referrals">
                    <i id="referrals-icon"  class="fas fa-share-alt"></i> <span id="referrals-text">@Localizer["Referrals"]</span>
                </a>
            </li>

            <li id="notifications-li" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ServiceProvider" asp-action="Notifications">
                    <i id="notifications-icon" class="fas fa-bell"></i> <span id="notifications-text">@Localizer["Notifications"]</span>
                </a>
            </li>

            <li id="changePassword-li" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ServiceProvider" asp-action="CustomChangePassword">
                    <i id="changePassword-icon" class="fa fa-key"></i> <span id="changePassword-text">@Localizer["ChangePassword"]</span>
                </a>
            </li>

        </ul>

    </div>
  

</div>

<style>
    .sticky-note {
        background-color: yellow;
        width: 200px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        position: sticky;
        top: 20px;
        margin: 0 auto;
    }

        .sticky-note p {
            margin: 0;
        }

    .first-div, .second-div {
        /* Add your styling properties here */
    }
</style>