  <!-- Add Order -->

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = direction == "ltr" ? true : false;
    string footerButtonsValue = isEng ? "0px" : "5px";
}


<div style="text-align: end; cursor:pointer">
    <button onclick="openAddOrderModal()" type="button" class="btn btn-primary add-edit-btn" data-toggle="modal" data-target="#AddOrderModal">
        <i style="font-size:18px" class="fas fa-add"></i> @Localizer["AddOrder"]
    </button>
</div>

<script>


    function sendOrderRequest() {

        // Get all the input values
        var fullname = $("#fullname-edit-input").val();
        var phone = $("#phone-edit-input").val();
        var email = $("#email-edit-input").val();
        var country = $("#countries-ddl-edit").val();
        var state = $("#states-ddl-edit").val();
        var city = $("#cities-ddl-edit").val();
        var gender = $('input[name="gender"]:checked').val();
        var age = $('input[name="age"]:checked').val();
        var chronicDisease = $('#chronicDisease').val().trim();
        var selectedServicesIds = $("#selectedServicesIds").val();
        var doctorId = $(".selected").attr('id');
        var quantities = $("#selectedQuantities").val();

        // Prepare the data to be sent as JSON
        var orderDetailsModal = {
            'FullName': fullname,
            'Phone': phone,
            'Email': email,
            'Country': country,
            'State': state,
            'City': city,
            'Gender': gender,
            'Age': age,
            'ChronicDisease': chronicDisease,
            'SelectedServicesIds': selectedServicesIds,
            'DoctorId': doctorId,
            'Quantities': quantities
        };

        // Send the data using AJAX
        $.ajax({
            type: "POST", // Change this to your desired HTTP method (POST, GET, PUT, DELETE, etc.)
            url: '@Url.Action("SendOrderRequest", "ServiceProvider")',
            data: JSON.stringify(orderDetailsModal),
            contentType: "application/json",
            success: function (response) {
                // Handle the response from the server if needed
                toastr.success("Order sent successfully!", 'Send !!');
                resetForm();
            },
            error: function (xhr, status, error) {
                // Handle any errors that occur during the AJAX call
                toastr.error("Error sending Order!", 'Send !!');
                resetForm();
            }
        });

        setTimeout(function () {
            $("#close-order").trigger("click")
            $(".modal-backdrop").remove()
            resetForm();
        }, 2000);


        //setTimeout(function () {
        //    $("#outgoing-tab").trigger("click")
        //}, 1000);


    }

    function resetForm() {
        $("#fullname-edit-input").val("");
        $("#phone-edit-input").val("");
        $("#email-edit-input").val("");
        $("#countries-ddl-edit").val("");
        $("#states-ddl-edit").val("");
        $("#cities-ddl-edit").val("");
        $('input[name="gender"]:checked').val("");
        $('input[name="age"]:checked').val("");
        $('#chronicDisease').val("");
        $("#selectedServicesIds").val("");
        $('input[name=gender]').prop('checked', false);
        $('input[name=age]').prop('checked', false);
        $("#selection-privileges").empty();
    }


    function loadSteps() {
        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $("#nextToSelectPrivilege").prop('disabled', true)
        $("#nextToSelectPrivilege").css("background", "gray");
        $("#nextToSelectPrivilege").css("cursor", "not-allowed");

        $("#nextToSelectDoctor").prop('disabled', true)
        $("#nextToSelectDoctor").css("background", "gray");
        $("#nextToSelectDoctor").css("cursor", "not-allowed");


        $("#submitRequest").prop('disabled', true)
        $("#submitRequest").css("background", "gray");
        $("#submitRequest").css("cursor", "not-allowed");




        $(".next").click(function () {
            var styleAttributeValue = $(".progress-bar").attr("style");
            // Check if the "style" attribute contains the style "width: 50%;"
            if (styleAttributeValue && styleAttributeValue.includes("width: 50%;")) {
                $("#main-class-modal").addClass("row justify-content-center");

            } else {


                $("#main-class-modal").removeClass("row justify-content-center");
            }
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();


            if (current == 2) {
                getDDLsOptions();
                getAvailableDoctors();
            }
            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function () {
            var styleAttributeValue = $(".progress-bar").attr("style");
            if (styleAttributeValue && styleAttributeValue.includes("width: 50%;")) {
                $("#main-class-modal").addClass("row justify-content-center");
            } else {

                $("#main-class-modal").removeClass("row justify-content-center");
            }

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

        // Event listener for the "Cancel" button
        $("#close-order").click(function () {
            // Reset the form to Step 1
            $("#patient-info").css("opacity", "");
            $("fieldset").hide();
            $("fieldset:first").show();
            $("#progressbar li").removeClass("active");
            $("#progressbar li:first").addClass("active");
            resetForm();
            setProgressBar(1);
            current = 1;
        });
    }

    function getStates(countryId) {
        $.ajax({
            url: '@Url.Action("GetStatesDDL", "ServiceProvider")' + '?countryId=' + countryId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#states-ddl-wk').empty();
                // Populate the dropdown list
                var dropdown = $('#states-ddl-wk');
                // Add default option
                dropdown.append($('<option></option>').val('').text( isEnglishCulture() ? 'Select a state' : 'إختر الولاية'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(isEnglishCulture() ? item.titleEn : item.titleAr ));
                });
            }
        });
    }

    function getCites(stateId) {
        $.ajax({
            url: '@Url.Action("GetCitiesDDL", "ServiceProvider")' + '?stateId=' + stateId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#cities-ddl-wk').empty();
                // Populate the dropdown list
                var dropdown = $('#cities-ddl-wk');
                dropdown.append($('<option></option>').val('').text(isEnglishCulture() ? 'Select a city' : 'إختر المدينة'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(isEnglishCulture()  ? item.titleEn : item.titleAr));
                });
            }
        });
    }

    function getDistricts(cityId) {
        $.ajax({
            url: '@Url.Action("GetDistricts", "ServiceProvider")' + '?cityId=' + cityId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#districts-ddl-wk').empty();
                // Populate the dropdown list
                var dropdown = $('#districts-ddl-wk');
                dropdown.append($('<option></option>').val('').text(isEnglishCulture() ? 'Select a District' : 'اختر المنطقة'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(isEnglishCulture()  ? item.titleEn : item.titleAr));
                });
            }
        });
    }

    function openAddOrderModal() {
        loadSteps();

        $.ajax({
            url: '@Url.Action("GetCountriesDDL", "ServiceProvider")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#countries-ddl-edit').empty();
                // Populate the dropdown list
                var dropdown = $('#countries-ddl-edit');
                // Add default option
                dropdown.append($('<option></option>').val('').text(isEnglishCulture() ? 'Select a country' : 'أختر الدولة'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(isEnglishCulture() ? item.titleEn : item.titleAr));
                });
            }
        });
        getAvailablePrivileges()

    }

    function getAvailablePrivileges() {
        var privilegesContainer = $('#privilegesContainer');

        $.ajax({
            url: '/ServiceProvider/GetAvailablePrivileges',
            type: 'GET',
            success: function (response) {
                privilegesContainer.html(response);

            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }


    function getAvailableDoctors() {
        var doctorsContainer = $('#doctorsContainer');
        var servicesIds = $("#selectedServicesIds").val()
        $.ajax({
            url: '/ServiceProvider/GetAvailableDoctors?serviceIds=' + servicesIds,
            type: 'GET',
            success: function (response) {
                doctorsContainer.html(response);

            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function searchOnPrivileges(value) {
        var resultCount = 0; // Variable to keep track of the number of results
        var value = $("#search-input").val().toLowerCase();
        $('.service-card-title').filter(function () {
            var isMatch = $(this).text().toLowerCase().indexOf(value) > -1;
            $(this).parent().parent().parent().toggle(isMatch);
            if (isMatch === true) {
                resultCount++;
            } else {
            }

        });
        if (resultCount <= 0) {
            $('.no-results-section').show(); // Assuming you have a "no-results" element to display the message
        } else {
            $('.no-results-section').hide();
        }
        resultCount = 0;
    }

    function getDDLsOptions() {
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetCitiesDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#cities-ddl').empty();
                    // Populate the dropdown list
                    var dropdown = $('#cities-ddl');
                    dropdown.append($('<option></option>').val(0).text('All Cities'));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                    });
                }
            });


            $.ajax({
                url: '@Url.Action("GetDistrictsDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#disctricts-ddl').empty();
                    // Populate the dropdown list
                    var dropdown = $('#disctricts-ddl');
                    dropdown.append($('<option></option>').val(0).text('All Districts'));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                    });
                }
            });
            $.ajax({
                url: '@Url.Action("GetInsuranceCompaniesDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#insurance-ddl').empty();
                    // Populate the dropdown list
                    var dropdown = $('#insurance-ddl');
                    dropdown.append($('<option></option>').val(0).text('All Insurance Companies'));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                    });
                }
            });
            $.ajax({
                url: '@Url.Action("GetServicesDDL", "Common")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear existing options
                    $('#services-ddl').empty();
                    // Populate the dropdown list
                    var dropdown = $('#services-ddl');
                    dropdown.append($('<option></option>').val(0).text('All Services'));

                    $.each(data, function (index, item) {
                        dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                    });
                }
            });
            setTimeout(function () {
                setSelectedOptions();
            }, 1000);

        });
        function searchUsingEnterButton(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                filterDoctors();
                ;
            }
        }
        function filterDoctors() {
            var doctorsContainer = $('#doctorsListContainer');
            var serviceId = $('#services-ddl').val();
            var disctrictId = $('#disctricts-ddl').val();

            var cityId = $('#cities-ddl').val();
            var sortBy = $('#sort-ddl').val();
            var insuranceType = $('#insurance-ddl').val();
            var name = $('#filterInput').val();

            $.ajax({
                url: '/Home/FillDoctorsList?name=' + name + '&serviceId=' + serviceId + '&cityId=' + cityId + '&disctrictId=' + disctrictId + '&sortBy=' + sortBy + '&insuranceType=' + insuranceType,
                type: 'GET',
                success: function (response) {
                    doctorsContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function fillDoctorDetails(userId) {
            var userDetailsContainer = $('#userDetailsContainer');

            $.ajax({
                url: '/Home/GetDoctorDetails?userId=' + userId,
                type: 'GET',
                success: function (response) {
                    userDetailsContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function getQueryParamsFromCurrentURL() {
            const params = {};
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.toString() === "") {
                return null;
            }

            for (const [key, value] of urlParams) {
                params[key] = value;
            }
            return params;
        }
        function setSelectedOptions() {
            const queryParams = getQueryParamsFromCurrentURL();
            if (queryParams == null)
                return;
            const serviceDropdown = document.getElementById('services-ddl');
            const cityDropdown = document.getElementById('cities-ddl');
            const districtDropdown = document.getElementById('disctricts-ddl');
            const nameField = document.getElementById('filterInput');

            //var name = $('#filterInput').val();

            // Set selected option for Service dropdown
            if (queryParams.serviceId) {
                serviceDropdown.value = queryParams.serviceId;
            } else {
                serviceDropdown.value = ''; // Default value if serviceId is not present in the query string
            }

            // Set selected option for City dropdown
            if (queryParams.cityId) {
                cityDropdown.value = queryParams.cityId;
            } else {
                cityDropdown.value = ''; // Default value if cityId is not present in the query string
            }

            // Set selected option for District dropdown
            if (queryParams.disctrictId) {
                districtDropdown.value = queryParams.disctrictId;
            } else {
                districtDropdown.value = ''; // Default value if disctrictId is not present in the query string
            }

            if (queryParams.name) {
                nameField.value = queryParams.name;
            } else {
                nameField.value = ''; // Default value if serviceId is not present in the query string
            }
        }
    }


</script>

<style>

    .radio-wrapper {
        flex: 1; /* Take remaining space */
        display: flex;
        justify-content: flex-end; /* Align radio buttons to the right */
    }

    .image-wrapper {
        margin-right: 10px; /* Add some spacing between radio buttons and image */
    }

    .input-wrapper {
        display: flex;
        flex-direction: column; /* Display radio buttons in a column */
        margin-right: 10px; /* Add some spacing between radio buttons and image */
    }

    .input-hidden {
        position: absolute;
        left: -9999px;
    }

    input[type=radio]:checked + label > img {
        border: 1px solid #fff;
        box-shadow: 0 0 3px 3px #5F7AE7;
    }

    /* Stuff after this is only to make things more pretty */
    input[type=radio] + label > img {
        /*border: 1px dashed #444;*/
        width: 75px;
        height: 75px;
        transition: 500ms all;
    }

    input[type=radio]:checked + label > img {
        /*transform: rotateZ(-10deg) rotateX(10deg);*/
    }


    .hide {
        display: none;
    }

    .activeLink {
        color: #5F7AE7;
        font-weight: bold;
        pointer-events: none;
        cursor: not-allowed;
        background-color: whitesmoke
    }

    #menu .nav-item:hover {
        /* Add your desired styles for hover state */
        background-color: #e0e0e0;
        color: #333;
    }


    .tab-header {
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
    }

    .tab-button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s;
        border-radius: 12px;
        margin: 5px;
    }

        .tab-button:hover {
            background-color: #ddd;
        }

        .tab-button.active {
            background-color: #5F7AE7;
            color: white
        }

    .tab-content {
        background-color: #fff;
    }

    .referral-card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

        .referral-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

    .referral-card-body {
        background-color: white;
        padding: 2%;
        border-radius: 50%
    }

    .referral-card-title {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
        color: #5F7AE7
    }

    .referral-card-text {
        color: #666;
        margin-bottom: 5px;
    }


    .dots-container {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dots-button {
        background: none;
        border: none;
        color: red;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }



        .dots-button::before {
            position: absolute;
            color: #007bff;
            font-size: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::after {
            content: "";
            position: absolute;
            background-color: #007bff;
            width: 4px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::before,
        .dots-button::after {
            border-radius: 50%;
        }

        .dots-button::after {
            top: 54%;
        }

        .dots-button::before {
            top: 46%;
        }

    .no-results {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        font-size: 18px;
    }

        .no-results img {
            width: 15%;
            height: 100%;
            margin-bottom: 10px;
        }

        .no-results p {
            margin: 0;
        }


    .status {
        text-align: center;
        font-size: 10px;
        padding: 4px 6px;
        border-radius: 4px;
        font-weight: bold;
    }

    .status-success {
        background-color: #4CAF50;
        color: #ffffff;
    }

    .status-warning {
        background-color: #FFC107;
        color: #ffffff;
    }

    .status-error {
        background-color: #FF0000;
        color: #ffffff;
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 35%;
    }

        .search-container input {
            padding-right: 30px; /* Add space for the search icon */
        }

        .search-container i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #888;
        }


    #heading {
        text-transform: uppercase;
        color: #5F7AE7;
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform input,
    #msform textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #5F7AE7;
            outline-width: 0
        }

    #msform .action-button {
        width: 100px;
        background: #5F7AE7;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            background-color: #5F7AE7
        }

    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #5F7AE7;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #5F7AE7;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #5F7AE7
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f298"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f0fa "
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f0f0"
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #5F7AE7
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #5F7AE7
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
</style>