@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string currentPath = Context.Request.Path.ToString().ToLower();
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = direction == "ltr" ? true : false;
    string marginValue = isEng ? "margin-left" : "margin-right";
}

<style>
    #accordionSidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px; /* or whatever width your sidebar has */
        height: 100vh;
        overflow-y: auto;
        z-index: 1030;
    }

    body {
        margin-left: 250px; /* same as sidebar width */
    }
</style>

<!-- Sidebar -->
<div dir="@direction" class="@(direction == "rtl" ? "rtl-sidebar" : "")" style="background:#5F7AE7">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">

            <div class="sidebar-brand-text mx-4"><img src="/images/logo.png" class="navbar-logo" alt="logo" style="height:50px"> </div>
        </a>
          @if (User.HasClaim("PageAccess", "Dashboard")){
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

      
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>@Localizer["Dashboard"]</span>
                
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        }

        <!-- Heading -->
         @if (User.HasClaim("PageAccess", "InternalRequest") || User.HasClaim("PageAccess", "Maids")){
        <div class="sidebar-heading">
           @Localizer["Interface"] 
        </div>

        <!-- Nav Item - Pages Collapse Menu -->


        <!-- MaidsManagement -->
       
        <li class="nav-item @(currentPath.Contains("MaidsManagement".ToString().ToLower()) == true ? "active" : "")">
            <a class="nav-link  @(currentPath.Contains("MaidsManagement".ToString().ToLower()) == true ? "" : "collapsed")" href="#" data-toggle="collapse" data-target="#collapseReferrals"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-person"></i>
                <span>@Localizer["MaidsManagement"]</span>
            </a>
            <div id="collapseReferrals" class="collapse @(currentPath.Contains("MaidsManagement".ToString().ToLower()) == true ? "show" : "")" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                     @if (User.HasClaim("PageAccess", "Maids")){
                         <a class="collapse-item @(currentPath.Contains("MaidsManagement/Maids".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="Maids">
                             @Localizer["Maids"]
                             </a>
                     }
                    
                       @if (User.HasClaim("PageAccess", "InternalRequest")){
                    <a class="collapse-item @(currentPath.Contains("MaidsManagement/MaidRequests".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="MaidRequests">
                        @Localizer["InternalRequest"]
                        </a>
                       }

                </div>
            </div>
        </li>
        }


         <!-- MasterList -->
          @if (User.HasClaim("PageAccess", "Nationalities") || User.HasClaim("PageAccess", "Countries")){
        <li class="nav-item  @(currentPath.Contains("MasterList".ToString().ToLower()) == true ? "active" : "")">
            <a class="nav-link  @(currentPath.Contains("MasterList".ToString().ToLower()) == true ? "" : "collapsed")" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas  fa-list-ul"></i>
                <span>@Localizer["MasterList"]</span>
            </a>
            <div id="collapseTwo" class="collapse @(currentPath.Contains("MasterList".ToString().ToLower()) == true ? "show" : "")" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                     @if (User.HasClaim("PageAccess", "Nationalities") ){
                    <a class="collapse-item @(currentPath.Contains("Nationalities".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="Nationalities">
                        @Localizer["Nationalities"]
                        </a>
                     }
                      @if (User.HasClaim("PageAccess", "Countries") ){
                    <a class="collapse-item @(currentPath.Contains("Countries".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="Countries">
                        @Localizer["Countries"]
                        </a>
                      }
                </div>
            </div>
        </li>
           }

             @if (User.HasClaim("PageAccess", "ManageUsers")){
              <!-- Users -->
        <li class="nav-item @(currentPath.Contains("Users".ToString().ToLower()) == true ? "active" : "")">
            <a class="nav-link  @(currentPath.Contains("Users".ToString().ToLower()) == true ? "" : "collapsed")" href="#" data-toggle="collapse" data-target="#collapseUsers"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-users"></i>
                <span>Users</span>
            </a>
            <div id="collapseUsers" class="collapse @(currentPath.Contains("Users".ToString().ToLower()) == true ? "show" : "")" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item @(currentPath.Contains("ManageUsers".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="ManageUsers">@Localizer["ManageUsers"]</a>
                </div>
            </div>
        </li>
     
        }

        @if (User.HasClaim("PageAccess", "FinancialReport") )
        {

            <!-- Financial -->
            <li class="nav-item @(currentPath.Contains("Financial".ToString().ToLower()) == true ? "active" : "")">
                <a class="nav-link  @(currentPath.Contains("Financial".ToString().ToLower()) == true ? "" : "collapsed")" href="#" data-toggle="collapse" data-target="#collapseReports"
               aria-expanded="true" aria-controls="collapseReports">
               <i class="fas fa-money-bill"></i>
                <span>@Localizer["Financial"] </span>
            </a>
            <div id="collapseReports" class="collapse @(currentPath.Contains("Reports".ToString().ToLower()) == true ? "show" : "")" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item @(currentPath.Contains("ServicesReport".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="ServicesReport">@Localizer["FinancialReport"] </a>
                </div>
            </div>
        </li>
        }
            @if (User.HasClaim("PageAccess", "GeneralSettings") || User.HasClaim("PageAccess", "Feedbacks") )
        {
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
     
        <div class="sidebar-heading">
          
            @Localizer["WebSiteSettings"]
        </div>
        <li class="nav-item @(currentPath.Contains("Settings".ToString().ToLower()) == true ? "active" : "")">
            <a class="nav-link  @(currentPath.Contains("Settings".ToString().ToLower()) == true ? "" : "collapsed")" href="#" data-toggle="collapse" data-target="#collapseSettings"
               aria-expanded="true" aria-controls="collapseSettings">
                <i class="fa fa-cog"></i>
                <span> @Localizer["Settings"]</span>
            </a>
            <div id="collapseSettings" class="collapse @(currentPath.Contains("Settings".ToString().ToLower()) == true ? "show" : "")" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                     @if (User.HasClaim("PageAccess", "GeneralSettings")){

                    <a class="collapse-item @(currentPath.Contains("GeneralSettings".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="GeneralSettings">
                        @Localizer["GeneralSettings"]
                        </a>
                    }
                        @if (User.HasClaim("PageAccess", "Feedbacks")){
                    <a class="collapse-item @(currentPath.Contains("Feedbacks".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="Feedbacks"> @Localizer["Feedbacks"] </a>
                        }
                </div>
            </div>
        </li>
     

        <!-- Divider -->
        <hr class="sidebar-divider">
           }

        <!-- Heading -->


        <div class="sidebar-heading">
            @Localizer["Account"] 
        </div>
        <li class="nav-item @(currentPath.Contains("MyProfile".ToString().ToLower()) == true ? "active" : "")">
            <a class="nav-link  @(currentPath.Contains("MyProfile".ToString().ToLower()) == true ? "" : "collapsed")" href="#" data-toggle="collapse" data-target="#collapseAdminProfile"
               aria-expanded="true" aria-controls="collapseAdminProfile">
                <i class="fa-solid fa-user"></i>
                <span>@Localizer["ManageAccount"] </span>
            </a>
            <div id="collapseAdminProfile" class="collapse @(currentPath.Contains("MyProfile".ToString().ToLower()) == true ? "show" : "")" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item @(currentPath.Contains("Notifications".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="Notifications">@Localizer["Notifications"] </a>
                    <a class="collapse-item @(currentPath.Contains("ChangePassword".ToString().ToLower()) == true ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="CustomChangePassword">@Localizer["ChangePassword"]</a>
                </div>
            </div>
        </li>
    </ul>
</div>