@model List<MaidLinker.Data.Entites.Country>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = cultureCode.StartsWith("en", StringComparison.OrdinalIgnoreCase);
}

<!-- #region Styles -->
<head>
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
        .hidden {
            display: none;
        }

        .toast-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .toast-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<!-- #endregion -->
<!-- #region Toast -->
<div id="toast-container" class="toast-container toast-center">
    <div class="alert alert-success hidden" role="alert">@Localizer["SavedSuccessfully"]</div>

    @if (ViewBag.SuccessMessage != null)
    {
        if (ViewBag.SuccessMessage == true)
        {
            <div class="alert alert-success" role="alert">@Localizer["DeletedSuccessfully"]</div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">@Localizer["CannotDelete"]</div>
        }
    }
</div>
<!-- #endregion -->

<div id="page-top" class="mt-5">
    <div id="wrapper">
        @await Html.PartialAsync("_Sidebar")

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" style="background-color:lavender">
                <div class="container-fluid mt-5">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h6 class="h6 mb-0" style="font-weight:bold;color:#5F7AE7 "></h6>
                        @await Html.PartialAsync("_Userbar")
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0" style="font-weight:bold;color:#5F7AE7 ">@Localizer["PageTitle"]</h6>
                                    <div style="text-align: end; cursor:pointer">
                                        <button id="popup_btn" type="button" class="btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#ViewPopup">
                                            <i class="fa fa-plus text-white-50"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="card-body" style="max-height:768px; overflow-y:auto;">
                                    <div class="table-responsive" id="dataTableContainer">
                                        @await Html.PartialAsync("CountriesList", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

<!-- #region Modal -->
<div class="modal fade" id="ViewPopup" tabindex="-1" role="dialog" aria-labelledby="ViewPopupModal" aria-hidden="true" style="direction:@direction">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Add"]</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <h5>&times;</h5>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" style="text-align:@textAlign">
                        <label for="titleEnInput" style="font-weight:bold;color:#5F7AE7">@Localizer["TitleEn"]:</label>
                        <input type="text" class="form-control" id="titleEnInput" required style="text-align:@textAlign" />
                    </div>
                    <div class="form-group" style="text-align:@textAlign">
                        <label for="titleArInput" style="font-weight:bold;color:#5F7AE7">@Localizer["TitleAr"]:</label>
                        <input type="text" class="form-control" id="titleArInput" required style="text-align:@textAlign" />
                    </div>
                  
                </form>
                <div class="alert alert-danger hidden" role="alert">
                    <span id="error-msg-not-fill" style="display:none">@Localizer["PleaseFillAllFields"]</span>
                    <span id="error-msg-duplicate" style="display:none">@Localizer["CountryAlreadyExists"]</span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close-add-Country" type="button" class="btn btn-danger" data-dismiss="modal">@Localizer["Cancel"]</button>
                <button id="add-Country" type="button" class="btn btn-success" style="background-color:#5F7AE7">@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Scripts -->
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            setTimeout(() => $('.alert-success').fadeOut(), 3000);
            setTimeout(() => $('.alert-danger').fadeOut(), 5000);

            $('#popup_btn').click(function () {
                $('#titleArInput').val("");
                $('#titleEnInput').val("");
              
            });

            $('#add-Country').click(function () {
                var Country = {
                    TitleAr: $('#titleArInput').val(),
                    TitleEn: $('#titleEnInput').val(),
                };

                $.ajax({
                    url: '/Admin/AddCountry',
                    type: 'POST',
                    data: JSON.stringify(Country),
                    contentType: 'application/json',
                    success: function () {
                        $('.alert-success').removeClass('hidden').hide().fadeIn();
                        $('#close-add-Country').trigger('click');
                        $('#dataTableContainer').load('/Admin/GetCountries');
                        setTimeout(() => $('.alert-success').fadeOut(), 3000);
                    },
                    error: function (xhr) {
                        $('.alert-danger').removeClass('hidden');
                        if (xhr.responseText === "Please fill all fields.") {
                            $('#error-msg-not-fill').show();
                            $('#error-msg-duplicate').hide();
                        } else if (xhr.responseText === "The details for the Country have already been added.") {
                            $('#error-msg-not-fill').hide();
                            $('#error-msg-duplicate').show();
                        }
                        setTimeout(() => $('.alert-danger').addClass('hidden'), 5000);
                    }
                });
            });
        });
    </script>
}
<!-- #endregion -->
