@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = direction == "ltr" ? true : false;
}

<head>
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


    <style>
        .hidden {
            display: none;
        }

        .toast-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .toast-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>


<!-- Toaster -->
<div id="toast-container" class="toast-container toast-center">
    <div class="alert alert-success hidden" role="alert">
        The User Services Added/Updated Successfully!
    </div>

    @if (@ViewBag.SuccessMessage != null)
    {
        if (@ViewBag.SuccessMessage == true)
        {
            <text>
                <div class="alert alert-success" role="alert">
                    User services deleted successfully!
                </div>
            </text>
        }
        if (@ViewBag.SuccessMessage == false)
        {
            <text>
                <div class="alert alert-danger" role="alert">
                    You cannot delete this item as it is linked to users in the system.
                </div>
            </text>
        }
    }
</div>


<div id="page-top" style="margin-top:50px">

    <div id="wrapper">


        <!-- Sidebar -->
        @Html.Partial("_Sidebar")

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top:50px">


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h6 style="font-weight:bold;color:#5F7AE7 " class="h6 mb-0 ">  My Profile  &#8658; Change Password</h6>


                        <!--ToDo:Move To Partial View -->
                        <div class="dropdown" style="margin-right: 5%;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <a href="#">
                                <label style="font-weight:bold;color:#5F7AE7 ">Administrator</label>
                                <img src="~/users/images/Default-User-Profile.jpg" width="40" height="40" alt="user-profile">
                            </a>

                            <div class="dropdown-content">
                                <a type="submit" style="text-transform: none;" class="my-profile-button" asp-area="Identity" asp-page="/Account/Logout">
                                    Logout
                                    <span>
                                        @*  <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button style="text-transform: none;" class="my-profile-button" type="submit"></button>
                                        </form>
                                        *@
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                            <button style="text-transform: none;" class="my-profile-button" type="submit"></button>
                                        </form>
                                    </span>


                                </a>


                            </div>
                        </div>

                    </div>
                    <!-- Content Row -->
                    <div>
                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Change Password </h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="max-height: 768px; overflow-y: auto;">

                                    <br />

                                    <div class="table-responsive" id="dataTableContainer">
                                        @*@Html.Partial("ServicesReportList", Model)*@
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <label style="font-weight:bold;color:#5F7AE7" class="form-label">@Localizer["OldPassword"]</label>
                                                    <input type="password" id="oldPass-input" class="form-control" autocomplete="current-password" aria-required="true" />
                                                </div>
                                                <div class="form-floating">
                                                    <label style="font-weight:bold;color:#5F7AE7" class="form-label">@Localizer["NewPassword"]</label>
                                                    <input onkeyup="isPasswordAccept()" type="password" id="newPass-input" class="form-control" autocomplete="new-password" aria-required="true" />
                                                    <p id="password-notAccept" style="display:none; color:#FF0000;font-size:12px;text-align:left">
                                                        @Localizer["AtLeast6Char"]
                                                    </p>


                                                </div>
                                                <div class="form-floating">
                                                    <label style="font-weight:bold;color:#5F7AE7" class="form-label">@Localizer["ConfirmPassword"]</label>
                                                    <input onkeyup="comparePassword()" type="password" id="confirmPass-input" class="form-control" autocomplete="new-password" aria-required="true" />

                                                    <p id="password-notmatch" style="display:none; color:#FF0000;font-size:12px;text-align:left"> @Localizer["PasswordNotMatch"] </p>

                                                </div>
                                                <br />
                                                <button onclick="updatePassword()" class="w-40 btn btn-md btn-primary">@Localizer["Update"]</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>


@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes("Notifications")) {
                $("#myServices-li").removeClass("activeLink");
                $("#myServices-text").removeClass("activeLink");

                $("#myProfile-li").removeClass("activeLink");
                $("#myProfile-text").removeClass("activeLink");

                $("#myReferrals-li").removeClass("activeLink");
                $("#myReferrals-text").removeClass("activeLink");

                
                $("#changePassword-li").removeClass("activeLink");
                $("#changePassword-li").removeClass("activeLink");

                $("#notifications-li").addClass("activeLink");
                $("#notifications-text").addClass("activeLink");
            } else {
                console.log("The URL does not contain 'Notifications'.");
            }

        })

        function updatePassword() {
            // Get the values from the form
            var oldPassword = $("#oldPass-input").val();
            var newPassword = $("#newPass-input").val();

            // Create an object with the data
            var data = {
                oldPassword: oldPassword,
                newPassword: newPassword
            };

            // Make an AJAX request to the UpdatePassword action
            $.ajax({
                type: "POST",
                url: "/Admin/UpdatePassword",
                data: data,
                success: function (response) {
                    // Display success message
                    $("#result").html(response.message);
                    toastr.success("@Localizer["PasswordUpdated"]", "@Localizer["Success"]");
                },
                error: function (error) {
                    // Display error message
                    toastr.error("@Localizer["ErrorOccured"]", "@Localizer["Failed"]");
                            $("#result").html("Error: " + error.responseJSON.error);
                }
            });
        }


        function comparePassword() {
            if ($("#newPass-input").val() != $("#confirmPass-input").val())
                $("#password-notmatch").show();
            else
                $("#password-notmatch").hide();

        }

        function isPasswordAccept() {
            if ($("#newPass-input").val().length < 6)
                $("#password-notAccept").show();
            else
                $("#password-notAccept").hide();

        }

    </script>

}
