
@model List<MaidLinker.Data.Entites.Nationality>


@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = cultureCode.StartsWith("en", StringComparison.OrdinalIgnoreCase) ? true : false;
}
<head>
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
</head>

<!-- #endregion -->
<div id="page-top" class="mt-5">
    <div id="wrapper">
        @await Html.PartialAsync("_Sidebar")
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" style="background-color:lavender">
                <div class="container-fluid mt-5">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h6 class="h6 mb-0" style="font-weight:bold;color:#5F7AE7 "></h6>
                        @await Html.PartialAsync("_Userbar")
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 " style="font-weight:bold;color:#5F7AE7 ">@Localizer["PageTitle"]</h6>
                                    <div style="text-align: end; cursor:pointer">
                                        <button id="popup_btn" type="button" class="btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#ViewPopup">
                                            <i class="fa fa-plus text-white-50"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="max-height: 768px; overflow-y: auto;">
                                    <br />
                                    <div class="table-responsive" id="dataTableContainer">
                                        @await Html.PartialAsync("NationalitiesList", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</div>


<!-- #region Popup -->
<div class="modal fade" id="ViewPopup" tabindex="-1" role="dialog" aria-labelledby="ViewPopupModal" aria-hidden="true" style=" direction:@direction">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> @Localizer["Add"]</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <h5 >&times;</h5>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add your modal content here -->
                <form>
                    <div class="form-group" style="text-align:@(direction == "rtl" ? "right" : "left")">
                        <label style="font-weight:bold;color:#5F7AE7" for="titleEnInput">@Localizer["TitleEn"]:</label>
                        <input type="text" class="form-control" id="titleEnInput" required style="text-align:@(direction == "rtl" ? "right" : "left")">
                    </div>

                    <div class="form-group" style="text-align:@(direction == "rtl" ? "right" : "left")">
                        <label style="font-weight:bold;color:#5F7AE7" for="titleArInput">@Localizer["TitleAr"]:</label>
                        <input type="text" class="form-control" id="titleArInput" required style="text-align:@(direction == "rtl" ? "right" : "left")">
                    </div>
                </form>
               @*  <div class="alert alert-danger hidden sm" role="alert">
                    <span id="error-msg-add"></span>
                </div> *@
            </div>
            <div class="modal-footer">
                <button id="close-add-Nationality" type="button" class="btn btn-danger" data-dismiss="modal">@Localizer["Cancel"]</button>
                <button id="add-Nationality" type="button" class="btn btn-success" style="background-color:#5F7AE7">@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion  -->


<!-- #region Scripts & Ajax Calls -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // Hide the success message after 2 seconds
            setTimeout(function () {
                $('.alert-success').fadeOut();
            }, 3000);


            setTimeout(function () {
                $('.alert-danger').fadeOut();
            }, 3000);

            $('#popup_btn').click(function () {
                $('#titleArInput').val("");
                $('#titleEnInput').val("");
            });

            $('#add-Nationality').click(function () {
                var practitionerType = {
                    TitleAr: $('#titleArInput').val(),
                    TitleEn: $('#titleEnInput').val(),
                };

                $.ajax({
                    url: '/Admin/AddNationality', // Replace with your actual API endpoint URL
                    type: 'POST',
                    data: JSON.stringify(practitionerType),
                    contentType: 'application/json',
                    success: function (response) {
                        // Show the success message
                        $('.alert-success').removeClass('hidden').hide().fadeIn();
                        // Close the modal after the success message fades out
                        $("#close-add-Nationality").trigger("click");
                        $('#dataTableContainer').load('/Admin/GetNationalities');

                        // Hide the success message after 2 seconds
                        setTimeout(function () {
                            $('.alert-success').fadeOut();
                        }, 3000);

                    },
                    error: function (xhr, status, error) {
                        // Show the error message
                        $('.alert-danger').removeClass('hidden');
                        var msg = xhr.responseText;
                        $('#error-msg-add').text(msg.toString());
                        // Hide the error message after 2 seconds
                        setTimeout(function () {
                            $('.alert-danger').addClass('hidden');
                        }, 5000);
                        $('.alert-success').removeClass('hidden').hide().fadeIn();

                    }
                });
            });
        });
    </script>
}
<!-- #endregion  -->


